.doctor-extra-info-container {
    margin: 0px 15px 15px 15px;
    //padding-left: 20px ;
    
    height: 100%;
    .content-up {
        font-weight: 600;
        padding: 10px 0;
        .text-address{
            color: #337ab7;
            text-transform: uppercase;
        }

        .name-clinic {

        }
        
        .detai-address {

        }
    }

    .content-down {
        
        .short-info {

            currency {

            }
        }

        .detail {
            cursor: pointer;
            color: #337ab7;
        }

        .title-price{

        }
        
        .detail-doctor {
            
        }

        .hide-price {
            cursor: pointer;
            color: #337ab7;
        }

        

    }
}